# Frontend
node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example


# Backend
__pycache__/
*.py[cod]
venv/
.venv/
env/
.pytest_cache/
.coverage
htmlcov/


# IDE
.vscode/
.idea/


# OS
Thumbs.db